.header__link {
  text-align: center;
  text-decoration: none;
}

.header__container {
  background-color: #282c34;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tagline {
  padding: 10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.nav__links {
  font-size: 20px;
  position: fixed;
  top: 30px;
  right: 50px;
}

.login__link {
}
.register__link {
}

.registration__option {
  text-align: center;
}

.splash_description {
  font-size: 13px;
}

.registration__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.form__submit {
  display: flex;
  align-items: center;
  margin: auto;
}

.input__label {
  padding: 10px 0px;
}

.user__logged__in {
}
.login__form {
}

.logout__link {
  padding: 12px 1px;
}

.logout__link:hover {
  cursor: pointer;
}

.tagline {
}

@media all and (min-width: 900px) {
}
