.__code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 200px;
}

#__text {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  width: 12rem;
  height: 1.2rem;
  border: none;
  border-radius: 3px;
  background-color: rgb(95, 100, 100);
}

#__text:focus {
  outline: none;
}
