body {
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a,
a:link {
  color: white;
}
a:hover {
  color: white;
}
a:focus {
  color: white;
}
a:active {
  color: white;
}
a:visited {
  color: white;
}
